<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render(
        "api/users/user.json.jbuilder", 
        user: current_user
        ).html_safe %>
    </script>
<% end %>
<main id="root">If you see this, react is broken :(</main>

<script type="text/javascript">
    window.logo = "<%= image_url('logo.png') %>"
</script>

<script type="text/javascript">
  window.cart = "<%= image_url('shopping-cart.png') %>";
</script>

<script type="text/javascript">
  window.search = "<%= image_url('loupe.png') %>";
</script>