/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;   
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 6px 36px #22223b;
    width: 350px;
  }

  .signin-header, .register-header {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #22223b;
    font-weight: bold;
    font-size: 30px;
  }

  .signin-label, .register-label {
    display: block;
    font-family: 'Roboto', sans-serif;
  }

  .signin-input {
    text-rendering: auto;
    word-spacing: normal;
    cursor: text;
    display: block;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    height: 30px;
    background-color: rgb(228, 232, 240);
    border-color: rgba(43, 42, 42, 0.15);
    border-radius: 5px;
    height: 40px;
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
  }

  input:hover {
    transition-duration: 0.1s;
    border: 2px solid black;
  }

  .dot {
    position: absolute;
    top: 2px;
    right: -59.5px;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .close-x {
    position: absolute;
    top: 0px;
    right: -52px;
    font-weight: 500;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  .register-button {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-style: 10px solid black;
    background-color: white;
    color: black;
    width: 100px;
  }

  .register-button:hover, .demo-user-button:hover {
    transition-duration: 1s;
    border: 2px solid black;
    transform: scale(1.02);
  }

  .dot:hover{
    background-color: #e5e5e5;
    transition-duration: 0.2s;
    cursor: pointer;
  }

  .signin-button:hover, .register:hover {
    filter: brightness(100%);
    transition-duration: 1s;
    transform: scale(1.03);
  }

  .demo-user-button {
    text-align: center;
    vertical-align: middle;
    font-weight: 200;
    display: block;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: white;
    border-color: 1px black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    z-index: 10;
    color: #22223b;
    width: 100%;
  }

  .register-quote {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: -50px;
  }

  .signin-button, .register {
    text-align: center;
    vertical-align: middle;
    font-weight: 200;
    display: block;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #22223b;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    z-index: 10;
    color: white;
    width: 100%;
  }

  .signin {
    position: absolute;
    display: block;
    top: 10px;
    right: 18%;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
    color:  #22223b;
  }

  .profile-dropdown {
    position: absolute;
    display: block;
    top: 10px;
    right: 17.8%;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
    color:  #22223b;
  }

  .signin:hover, .profile-dropdown:hover {
    background-color: #f2e9e4;
    transition-duration: 1s;
  }

  .cart {
    position: absolute;
    top: 20px;
    right: 16%;
    width: 22px;
    height: 22px;
  }

header {
  display: block;
  box-sizing: border-box;
  justify-content: space-between;
}

.logo {
  display: block;
  position: relative;
  width: 75px;
  height: 70px;
  left: 14.5%;
  top: 0;
}

.searchBar-signin {
  text-rendering: auto;
  word-spacing: normal;
  cursor: text;
  display: block;
  width: 58%;
  position: absolute;
  top: 1%;
  right: 22%;
  height: 45px;
  border-radius: 25px;
  margin: 0px;
  padding-left: 15px;
  font-size: 15px;
}

.searchBar-signout {
  text-rendering: auto;
  word-spacing: normal;
  cursor: text;
  display: block;
  width: 55%;
  position: absolute;
  top: 1%;
  right: 25%;
  height: 45px;
  border-radius: 25px;
  margin: 0px;
  padding-left: 15px;
  font-size: 15px;
}
/* .dropDown-content {
  display: none;
  position: absolute;
  background-color: #f2e9e4;
  box-shadow: 0px, 8px, 16px, 0px, rgba(0,0,0, 0.2)
}  */

.dropDown-content {
  color:  #22223b;
  display: block;
  text-align: left;
  position: absolute;
  height: 60px;
  width: 150px;
  padding: 20px;
  background-color: white;
  z-index: 1;
  top: 40px;
  right: 20%;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
  font-size: 12px;
}

.dropDown-content > p:hover {
  transition-duration: 1s;
  cursor: pointer;
  background-color: #c9ada7;
}

.dropDown-content p {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 14px;
}

.errors {
  list-style-type: none;
  font-family:'Roboto', sams-serif;
  color: red;
}

.logo-1, .logo-2 {
  height: 20px;
  width: 20px;
}

.logo-1 {
  position: absolute;
  top: 20px;
  right: 21%;
}

.logo-2 {
  position: absolute;
  top: 20px;
  right: 23.2%
}

.logo-1:hover, :logo-2:hover {
  cursor: pointer;

}

