.cartshow-image {
    height: 205px; 
    width: 235px;
    display: flex;
    border-radius: 5px;
}

.cartshow-container {
    margin-left: 200px;
    font-family: 'Montserrat';
}

.cartshow-header {
    font-family: 'Montserrat';
    margin-left: 290px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cartshow-index {
    margin-bottom: 50px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 250px;
    margin-left: 60px;
    height: 300px;
    width: 1000px;
}

.cartshow-strings {
    display: flex;
    position: top;
    margin-left: 15px;
    width: 500px;
    height: 100px;
}

.cartshow-name {
  display: block;
  height: 40px;
  width: 350px;
  left: 28%;
}

.cart-name {
    font-weight: bold;
    font-size: 18px;
    display: block;
    height: 70px;
    width: 400px;
    margin-top: 5px;
}

.select-cart {
    display: block;
    padding-left: 100px;
}

.cart-quant {
    font-weight: bold;
   display: block;
   height: 60px;
   width: 80px; 
   cursor: pointer;
   font-size: 18px;
}

.cartshow-price {
    display: block;
    text-align: right;
    height: 50px;
    width: 200px;
    padding-left: 110px;
    font-size: 18px;
}

.cartitem-total {
    font-weight: 400;
}

.cartitem-each {
    white-space: nowrap;
}

.cartshow-topheader {
    display: flex;
    justify-content: space-between;
    margin-right: 280px;
}

.cartshow-topheader button {
    margin-left: 935px;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 30px;
    border: none;
}

.cart-mainbody {
    display: flex;
}

.payment-header {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 20px;
}

input[type=radio] {
    transform: scale(3);
    margin-right: 30px;
    margin-bottom: 20px;
}

.pay-label {
    padding: 0;
    margin: 0;
}

.items-total {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
}

.pay-img {
    border: 1px solid lightgray;
    margin-right: 4px;
    padding: 2px 10px;
    border-radius: 3px;
    margin-top: 0px;
} 


.sub-items {
    font-weight: 600;
}

.final-price {
    font-weight: 600;
}

.line-divider {
    border-top: 1px solid lightgray;
    margin: 0px;
}

.paymentbox {
    display: block;
    margin-left: 40px;
    height: 500px;
    width: 420px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(223, 221, 221);
}

.donation {
    font-family: 'Montserrat';
    margin-left: 80px;
}
.cartshow-topheader button:hover {
    background-color: rgb(204, 204, 204);
    transition: 0.5s;
}

.cartshow-header {
    font-size: 30px;
    font-weight: bold;
}

.cartshow-seller {
    display: flex;
} 

.cartshow-seller-pic {
    height: 35px;
    width: 35px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
} 

.cartshow-seller-name {
    padding-left: 15px;
    margin-top: 6px;
    font-weight: bold;
    font-size: 18px;
}

.cartshow-item-index {
    display: flex;
}

.remove-item {
    display: flex;
    margin-top: 70px;

}

.remove-button{
    background-color: white;
    border: none;
    font-weight: 400;
    font-family: 'Montserrat';
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 15px;
    height: 50px;
    width: 100px;
}

.update-button {
    background-color: white;
    border: none;
    font-weight: 400;
    font-family: 'Montserrat';
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 15px;
    height: 50px;
    width: 100px;
    margin-right: 60px;
    display:block;
    position:relative;
    right: 22%;
}

.cart-textarea {
    margin-top: 20px;
    height: 100px;
    width: 400px;
    padding: 10px 10px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px lightgray;
}

.checkbox-container {
    display: block;
    cursor: pointer;
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    padding-bottom: 5px;
}

.side-comment{
    margin: 0;
    font-size: 12px;
    padding-left: 35px;
}

.cartitem-single {
    font-weight: bold;
    margin-left: 45px;
}

input[type="checkbox"]:checked + label:before {
    background: black;
    color: white;
}

.checkmark {
    height: 18px;
    width: 18px;
    margin-right: 8px;
    background-color: black;
}

.checkout-button {
    text-align: center;
    height: 50px; 
    width: 100%;
    border-radius: 30px;
    background-color: #22223b;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.checkout-button:hover {
    transform: scale(1.04);
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.checkmark:hover {
    cursor: pointer;
}

.remove-button:hover, .update-button:hover {
    cursor: pointer;
    background: rgb(219, 216, 216);
    transition: 1s;
}

.item-index {
    display: flex;
}
