.category-product-img {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.category-product-img:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    cursor: pointer;
}

.category-product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 50px;
    margin-left: 520px;
    margin-right: 290px;
    margin-bottom: 100px;
    font-family: 'Montserrat';
}

.category-product-seller {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.category-product-name {
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding: 10px 0;
}

.category-product-price {
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    padding: 10px 0;
}

.category-product-show {
    margin-bottom: 30px;
}

.category-header {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 40px;
    margin-left: 280px;
    margin-top: 50px;
    font-weight: 600;
    z-index: 99;
    top: 16%;
}

.cat-navimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 50%;
}

.category-price-header {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 13px;
    margin-left: 280px;
    width: 200px;
}

.noMatchFilter {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.noMatch-sad {
    margin-left: 450px;
    margin-bottom: 50px;
}
