.product-image {
    height: 165px;
    width: 205px;
    object-fit: cover;
}

/* .products-all-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
} */

.product-info-show {
    display: flex;
    margin-left: 280px;
    margin-right: 290px;
}

.product-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center; 
    list-style-type: none;
    margin-right: 30px;
}


.product-list-index {
   margin-right: 15px;
   margin-left: 5px;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    cursor: pointer;
}

.product-price {
    margin-top: 0;
    font-weight: 600;
    font-family: 'Montserrat';
}

.products-header {
    text-align: left;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    padding-left: 45px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.product-name {
    font-family: 'Montserrat';
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color:  #22223b;
}


.product-show-image {
    margin-top: 35px;
    height: 615px;
    width: 750px;
    border-radius: 10px;
    margin-left: 5px; 
}

.product-show-name {
    font-size: 28px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.product-price-stock {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-show-text {
    font-family: 'Montserrat';
    margin-left: 50px;
    margin-top: 35px;
    width: 100%;
}

.product-show-quantity-label {
    font-size: 13px;
    padding-bottom: 10px;
}

.quantity-container {
    margin-top: 20px;
}

.product-quantity-box {
    margin-top: 10px;
    height: 45px;
    width: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(179, 177, 177);
    border-style: none;
    padding-left: 10px;
    font-family: 'Montserrat';
    font-size: 15px;
    margin-bottom: 20px;
}

.product-quantity-box:hover {
    transition-duration: 0.5s;
    border: 1px solid black;
    cursor: pointer;
}

.product-show-add-button {
    text-align: center;
    font-weight: bolder;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-style: none;
    background-color: #22223b;
    color:white;
    height: 50px;
    width: 100%;
    font-size: 15px;
}

.product-show-add-button:hover {
    opacity: 0.9;
    transform: scale(1.03);
    cursor: pointer;
}

.product-show-icons {
    display: flex;
    margin-top: 15px;
}

.regular-text {
    font-size: 13px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.regular-text1 {
    font-size: 13px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.product-show-tag {
    font-size: 14px;
    font-weight: bolder;
}

.product-description-box {
    line-height: 2;
    font-size: 14px;
}

.product-in-stock {
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

.product-available {
    display: flex;
}

.product-stock, .product-main-price {
    padding: 0;
    margin: 0;
}

.product-stock {
    font-size: 13px;
    font-weight: bold;
}

.product-main-price {
    font-size: 25px;
    font-weight: bold;
}

.product-show-icon1{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.product-show-icon2 {
    height: 50px;
    width: 45px;
    margin-right: 10px;
}

.product-in-cart {
   
    top: 485px;
    left: 66.5%;
    padding-right: 320px;
    font-size: 12px;
}

.highlight-text {
    font-weight: bolder;
}

.product-delivery {
    
    top: 545px;
    left: 66.5%;
    padding-right: 280px;
    font-size: 12px;
}

.product-highlight1{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.product-highlight-header {
    font-weight: bold;
    font-size: 14px;
}

.product-show-description {
    margin-top: 30px;
}

.product-highlight-p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.seller-profile {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 100px;
}

.rating {
   
    height: 100px;
    padding-left: 15px;
    top: 793px;
}

.rating-header {
    padding-left: 30px;
    font-size: 20px;
    padding-top: 35px;
}

.rating-separator {
    
    border-bottom: 2px solid lightgray;
    left: 15%;
    padding-right: 650px;
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 16px;
}

.product-show-seller {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.store-rating {
    font-size: 12px;
    padding-top: 5px;
}

.review-star-rating2 {
    height: 13px;
}

.rating-sales {
    display: flex;
}

.sales {
    font-size: 13px;
    margin-right: 10px;
    padding-top: 3px;
}

.separator {
    padding-top: 2px;
    margin-right: 10px;
    font-size: 13px;
    color: lightgray;
}

.seller-profile h3 {
    font-size: 15px;
    font-weight: bold;
}

.seller-profile-pic {
    height: 65px;
    width: 65px;
    margin-right: 20px;
}

.seller-main {
    display: flex;
    margin-top: 10px;
}


.seller-profile-name {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.seller-profile p {
    font-size: 12px;
    font-weight: bold;
}

.photo-sidebar {
    
    height: 60px;
    width: 60px;
    display: block;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 35px;
}

.selections-image {
    height: 165px;
    width: 206px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.product-review-container {
    position: relative;
    margin-top: -230px;
    margin-left: 230px;
    font-family: 'Montserrat';
}

.remove-padding {
    padding: 0;
    height: 750px;
    display: flex;
}
