.review-form-container, .review-form {
    display: block;
    height: 200px;
    width: 500px;
}

.review-form-head {
    font-weight: 600;
    font-size: 20px;
}

.review-textarea {
    height: 100px;
    width: 700px;
    font-family: 'Montserrat';
    padding: 10px 10px;
    font-size: 15px;
    margin-top: 10px;
}

.review-submit-btn, .close-btn{
    display: block;
    background-color: #22223b;
    color: white;
    padding: 10px 5px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    border: none;
}

.review-submit-btn {
    margin-top: 15px;
}

.close-btn {
    margin-left: 180px;
}

.review-text-label {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.create-btn {
    display: block;
    background-color: #22223b;
    color: white;
    padding: 10px 5px;
    font-family: 'Montserrat';
    border-radius: 25px;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    border: none;
}

.create-btn:hover, .close-btn:hover, .review-submit-btn:hover {
    opacity: 0.9;
    transform: scale(1.03);
    cursor: pointer;
}

.review-rating-disp {
    display: flex;
}

.rating-text, .rating-text1 {
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    margin: 0;
    margin-right: 10px;
    margin-top: 9px;
}

.rating-text1 {
    margin-left: 10px;
}

.review-component {
    display: flex;
    margin-left: 60px;
}

.review-list-container {
    display: relative;
    margin-left: 50px;
    margin-top: 100px;
}

.review-user {
    padding: 0 20px;
    font-size: 13px;

}

.review-date {
    font-size: 13px;
}

.review-user-pic {
    height: 37px;
    width: 37px;
}

.review-star-rating {
    display: block;
    height: 20px;
    margin-left: 60px;
}

.review-comment {
    margin-left: 60px;
}

.star-container {
    padding: 0;
    margin: 0;
}
.review-index-container {
  margin-bottom: 30px; 
  list-style: none;  
}

.review-update-delete {
    margin-top: 10px;
    margin-left: 60px;
}

.review-update, .update-review, .delete-review {
    background-color: #22223b;
    font-family: 'Montserrat';
    font-size: 13px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    color: white;
}

.review-update:hover, .review-update-close:hover, .update-review:hover {
   cursor: pointer;
   opacity: 0.9;
   transform: scale(1.03);
}

.update-review {
    margin-right: 30px;
}

.review-update-close {
    position: absolute;
    background-color: #22223b;
    font-family: 'Montserrat';
    font-size: 13px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    color: white;
    left: 17.8%;
}

.delete-review:hover {
    background-color: red;
    transition-duration: 0.5s;
    opacity: 0.9;
    transform: scale(1.03);
    cursor: pointer;
}

.review-main-container {
    display: block;
    height: 230px;
    width: 800px;
}

.review-edit-container {
    display: block;
    font-family: 'Montserrat';
    margin-left: 30px;
}

.review-update-text {
    font-family: 'Montserrat';
    height: 60px;
    width: 720px;
    padding: 10px 10px;
    font-size: 15px;
    margin: 10px 0;
}

.review-edit-head {
    font-weight: 500;
    font-size: 18px;
}

.review-user-date {
    display: flex;
}

.review-helpful {
    font-size: 13px;
    font-weight: 500;
    margin-left: 60px;
    margin-top: 20px;
}

.review-thumb {
    height: 12px;
    width: 12px;
    padding-right: 5px;
}

.product-total-reviews {
    font-size: 22px;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.review-star-rating1 {
    display: block;
    height: 27px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.product-total-review-cont {
    margin-left: 60px;
    margin-top: 50px;
    display: flex;
}